<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="../../img/logo-pico-preta.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../css/root.css">
    <link rel="stylesheet" href="../../css/pilar.css">
    <link rel="stylesheet" href="../../css/login.css">
</head>
<body class="flex center">
    <main class="container bg-primary between  flex row">
        <div class="peixe flex center ">
            <img src="../../img/payshe-removebg-preview.png" alt="">
        </div>
        <div class="border w-100 flex column a-center jf-start  form-space">
            <div class="logo-nav">
            </div>
            <span class="message">Bem vindo de volta!</span>
            <span class="message-fade">Insira suas credenciais</span>
            <form class="flex column" action="#" method="post">
                <div class="input-field relative flex column">
                    <input type="email" id="ipt_email">
                    <label for="Email" class="absolute">Email</label>
                </div>
                <div class="input-field relative flex column">
                    <input type="password" id="ipt_password">
                    <label for="Senha" class="absolute">Senha</label>
                </div>
                <div class="flex row" style="gap: 3px;">
                    <input type="checkbox">
                    <span>Lembre de mim</span>
                </div>
                <button>Log in</button>
                <span class="w-100 cadastrar">Ainda não tem uma conta? <span id="cadastrar" class="text-primary">Cadastre-se</span></span>
            </form>
        </div>
    </main>
</body>
</html>

<script>
    cadastrar.onclick= () => {
        window.location.href = '/cadastro'
    }
</script>