.perfil-area{
    width: 80%;
    
    align-items: flex-start;
    
}

#ipt_foto, #ipt_foto_capa{
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  display: none;
}
#editar_capa{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    font-size: 20px;
    cursor: pointer;
    transition: all 1s;
}

#editar_perfil{
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 100%;
    transition: all 1s;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    font-size: 20px;
    cursor: pointer;
}

#cropButton{
    width: 100px;
    height: 50px;
    font-size: 22px;
    border: none;
    border-radius: 11px;
    background-color: var(--primary-color);
    color: #fff;
    margin-top: 10px !important;
    cursor: pointer;

}

.foto-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    color: var(--dark-font);
    background-color: var(--light-bg);
}

.nome-infos{
    margin-top: 40px;
    gap: 10%;
    font-size: 22px;

    & .info-quant{
        gap: 8px;
        cursor: pointer;
    }
}

.area-posts-perfil{
    width: 100%;
    align-items: flex-start;
    margin-top: 5% !important;
    
}
.create-div-perfil{
   align-self: flex-start;
    margin: 0 !important;
   & .criar{
        font-size: 26px;
   }
}

.editar{
    gap: 3px;
    font-size: 24px;
    margin-right: 5px !important;
    width: 97%;
    margin-top: 5px !important;
}

.editar i{
    cursor: pointer;
}

.foto-perfil{
    width: 220px;
    height: 220px;
    border-radius: 100%;
    background-image: url('../img/users/perfil/default.png');
    background-size: cover;
    
    border: 1.5px solid #fff;
}

.foto-nome-user{
    bottom: -35%;
    left: 2%;
}

.foto_nome{
    position: absolute;
}

.nome-infos{
    margin-top: 7% !important;
    width: 70%;
    
    align-self: flex-end;
    margin-right: 3% !important;
}

.capa-perfil{
    height: 50vh;
    background-image: url('../img/capa.jpg');
    background-size: cover;
    background-position: 50%;
}

.create-div-perfil{
    padding: 0 !important;
    
    width: 30%;

    & .square-new{
        width: 100%;
        height: 250px;
    }
}